<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="#">
    <title>Random Gifs API</title>
</head>

<body>

    <div>
        <h1 id="heading">Documentation</h1>
        <hr>
    </div>

    <center>
        <div class="content" id="doc">
            <h2 class="input" id="search">GetGifs</h2>

            <p class="input_heading" id="cent">Get Gifs by search</p>

            <div class="content" id="get">
                <p id="search_bar">GET {baseUrl}/gifs/{search}</p>
            </div>

            <p id="param" class="input_heading"><b>Get Params:</b></p>

            <li class="list">search: The name of the gif you want to search</li>

            <p class="input_heading" id="return"><b>Returns:</b></p>

            <li class="list" id="returned">A gif in string format</li>
        </div>
    </center>
    <div id="footer">
        <!-- FAB button -->
        <a id="button_home" class="mdl-button mdl-js-button mdl-button--fab" href="/"></a>
        <a id="button_docs" class="mdl-button mdl-js-button mdl-button--fab" href="/docs"></a>
        <a id="button_about" class="mdl-button mdl-js-button mdl-button--fab" href="/about"></a>
    </div>

</body>

</html>